:root {
  --bg-color: #000028;
  --accented-text-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --button-color: var(--accent-color);
  --title-accent-color: var(--accent-color);
  --decor-color: var(--accent-color);
  --decor-color-hover: #ff007066;
  --header-color: #db00ff;
  --main-font: 'IBM Plex mono', monospace;
  --shadow-color: #ff0070;
  --cover-image: url(../images/cover-image-dark.png);
  --decor-scale: max(10px, calc((100vi - 375px) / (768 - 375) * (20 - 10) + 10px));
  --heading-inline-start-margin: max(0, calc((100vi - 375px) / (768 - 375) * (20 - 0) * -1));
  --content-gap: max(50px, calc((100vi - 375px) / (768 - 375) * (80 - 50) + 50px));
  --content-margin: max(40px, calc((100vi - 375px) / (768 - 375) * (60 - 40) + 40px)) 0;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}


@media (768px <= width < 1024px) {

  :root{
  --decor-scale: 20px;
  --heading-inline-start-margin: -20px;
  --content-gap: 80px;
  --content-margin: 60px 0;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }


}


@media (width >= 1024px) {

  :root{
    --decor-scale: 20px;
    --heading-inline-start-margin: -20px;
    --content-gap: 80px;
    --content-margin: 60px 0;
    --logo-size: 9.8125rem;
    }
}